.about-area{
    background-color: #1C2228;
    color: #FFFFFF;

    p{
        text-align: center;
    }

    .title {
        font-family: 'Playfair Display', serif;
        font-size: 25px !important;
        margin: 50px 0;
    }

    .content{
        p{
            font-size: 17px;
            margin-top: 20px;
        }
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
