.customer-area{
    background-color: #323D47;
}

.customers-text{
    text-align: center;
}

.center {
    display: block;
    margin: 50px auto 20px auto ;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 25px !important;
    margin: 50px 0;
}

p{
    color: #FFFFFF;
}

.bar{
    img{
        margin-left: -120px;
    }
}
